<div id="videos-container" class="contents-container">
  {{#each videos as |video|}}
    <div class="video-card">
      <div class="video-player">
        <iframe 
          class="video-player" 
          src="{{video.url}}" 
          frameborder="0" 
          allowfullscreen
        >
        </iframe>
      </div> 
      <div class="video-title">
        <a href="videos/{{video._id}}">
          {{video.title}}
        </a>
      </div>
    </div>
  {{/each}}
</div>
<div>
  <a 
    href="videos/new"
    id="add-video-button" 
    class="add-video-button"
  >
  Add a video
</a>
</div>
