<div id="videos-container" class="contents-container">
  <!-- <div class="video-card">
    <div class="video-player">
        <iframe class="video-player" src="https://www.youtube.com/embed/6lutNECOZFw" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video-title">
      Excited train guy, New York!
    </div>
  </div> -->
  {{#each videos as |video|}}
    <div class="video-card">
      <div class="video-title">
        {{video.title}}
      </div>
    </div>
  {{/each}}
</div>
<div>
  <a 
    href="videos/new"
    id="add-video-button" 
    class="add-video-button"
  >
  Add a video
</a>
</div>
