<div id="videos-container" class="contents-container">
  <div class="video-card">

    <div class="video-title">
      <h1>{{video.title}}</h1>
    </div>

    <iframe 
      class="video-player" 
      src="{{video.url}}" 
      frameborder="0" 
      allowfullscreen
    >
    </iframe>

    <div class="video-description">
      <p>{{video.description}}</p>
    </div>

    <a 
      id="edit-button" 
      class="input-button" 
      href="/videos/{{video._id}}/edit"
      >
      Edit
    </a>
  </div>
</div>
